@use '../abstracts';

.site-header {
    margin-block-end: clamp(3em, 4vw, 4.5em);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        &--logo {
            margin-block: clamp(3em, 3vw, 5em) 4em;
        }
        &--hero {
            width: 100%;
            aspect-ratio: 820/303;
            background-image: url("../../starter-code/assets/tablet/image-hero.png");
            background-repeat: no-repeat;
            background-size: cover;
            
            @include abstracts.respond-to('large') {
                background-image: none;
                height: 0;
            }
        }
    }
}