@use '../abstracts';
@use '../components';

.site-second-section {
    background-image:
        linear-gradient(abstracts.$hsl-cyan-600-alpha),
        url("../../starter-code/assets/mobile/image-footer.jpg");
    background-size: cover;
    margin-block-start: 6.75em;
    position: relative;

    @include abstracts.respond-to('medium') {
        background-image:
            linear-gradient(abstracts.$hsl-cyan-600-alpha),
            url("../../starter-code/assets/tablet/image-footer.jpg");
    }

    @include abstracts.respond-to('large') {
        background-image:
            linear-gradient(abstracts.$hsl-cyan-600-alpha),
            url("../../starter-code/assets/desktop/image-footer.jpg");
    }

    &__content-wrapper {

        & > * {margin-block: 0;}

        @extend %section-content-container;
        padding-block: 4em;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        @include abstracts.respond-to('large') {
            flex-direction: row;
            align-items: center;
            text-align: left;
        }
    }

    &__number-section {
        @extend %number-design;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        @extend %text-h2; 
        color: abstracts.$hsl-white;
    }

    &__description {
        @extend %text-paragraph; 
        color: abstracts.$hsl-white;
    }

    &__button {
        @include components.button(abstracts.$purple-palete, true);
        align-self: center;
        @include abstracts.respond-to('large') {flex-basis: 16em;}
    }
}