// Fonst variables:
$font-size-h1: clamp(2.5rem, 2.5rem + 2vw, 4rem);
$font-size-h2: clamp(2rem, 1.5rem + 1.5vw, 2.5rem);
$font-size-subtitle: clamp(.75rem, .75rem + .5vw, 1rem);
$font-size-paragraph: clamp(1rem, .5rem + 1vw, 1.125rem);